# root
.env
.vscode
.venv
server.js
sernverwe3.min.js

node_modules
middleware
uploads
server.js
# package-lock.json
# package.json
convert-img.js
readme.md

public/img-webp
public/img-backup
public/logo
public/gif
public/img
public/js/admin.js
public/js/login.js
public/js/app.js
public/js/akun.js
public/js/global.js
public/assets/loader.js
public/js/components/sliderIndex.js
public/js/components/communityBtn.js
public/js/components/lastYear.js
public/js/components/starsIndex.js
public/js/components/leaves.js
